<!-- ----------------------------------------------------------------------------     
------------------------------------- TOPBAR  -------------------------------- -->      
<nav id="top-bar" class="navbar navbar-light sticky-top bg-light flex-nowrap p-0">
  <div class="nav-header" >
    <span><i class="fas fa-box text-dark"></i></span>
    <a class="navbar-brand h1" href="#">Company</a>
  </div>
  <div id="sidebarCollapse" class="p-2">
    <span><i class="fas fa-bars"></i></span>
  </div>
      
  <div class="nav-search"> 
    <form class="form-inline flex-nowrap" >
      <input class="form-control form-control-light w-100" type="search" placeholder="Search" aria-label="Search">
      <a href="#" class="nav-link text-dark"><i class="fas fa-search"></i></a>
    </form>
  </div> 
  <div class="nav-menu">
    <ul class="navbar nav flex-nowrap">
      <li class="nav-item">
        <a class="nav-link text-dark dropdown-toggle" href="#" role="button" id="menuMessage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-envelope"></i></a>
        
        <!-- ------------------ Menu Message --------------------- -->
        <div id="ll" class="dropdown-menu dropdown-menu-right animated flipInY" aria-labelledby="menuMessage">
          <ul class="item-profile">
            <li>Mensajes recibidos</li>
            <hr>
            <li><a href="" class="text-dark"><span><i class="fas fa-user-circle"></i></span>item1</a></li>
            <li><a href="" class="text-dark"><span><i class="fas fa-user-circle"></i></span>item2</a></li>
            <li><a href="" class="text-dark"><span><i class="fas fa-user-circle"></i></span>item3</a></li>
            <hr style="margin:5px;">
            <li><a href="" class="text-dark"><span><i class="fas fa-user-circle"></i></span>item1</a>
            <hr style="margin:5px;">
            <li><a href="" class="text-dark"><span><i class="fas fa-user-circle"></i></span>item1</a></li>  
          </ul>
        </div>
        <!-- ------------------ Fin Menu Message --------------------- --> 
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark dropdown-toggle" href="#" role="button" id="menuProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle"></i></a>
        <!-- ------------------ Menu Profile --------------------- -->
        <div id="lk" class="dropdown-menu dropdown-menu-right animated flipInY" aria-labelledby="menuProfile">
          <ul class="item-profile">
            <li>
              <div class="item-profile-img">
                <img src="../plantilla/Captura.PNG" alt="">
              </div>
              <div class="item-profile-description">
                <div class="text-dark">nombre</div>
                <div class="text-muted correo" style="font-size: 0.8rem">badzdiaz@gmail.com </div>
              </div>
            </li>
              <hr>
            <li><a href="" class="text-dark"><span><i class="fas fa-user-circle"></i></span>item1</a></li>
              <li><a href="" class="text-dark"><span><i class="fas fa-user-circle"></i></span>item2</a></li>
              <li><a href="" class="text-dark"><span><i class="fas fa-user-circle"></i></span>item3</a></li>
              <hr style="margin:5px;">
              <li><a href="" class="text-dark"><span><i class="fas fa-user-circle"></i></span>item1</a>
              <hr style="margin:5px;">
            <li><a href="" class="text-dark"><span><i class="fas fa-user-circle"></i></span>item1</a></li> 
          </ul>
        </div>
        <!-- ------------------ Fin Menu Profile --------------------- --> 
      </li>
    </ul>
  </div>
</nav>
