/*----------------------------     
   -------- TOPBAR -----------*/
#top-bar {
  min-width: 300px;
  height: 60px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2); }

.nav-header {
  min-width: 70px; }

  .nav-header .navbar-brand{
    display: none;
  }
  
.nav-header span {
  vertical-align: top;
  display: inline-block;
  width: 70px;
  font-size: 1.8rem;
  text-align: center; }

.nav-menu {
  display: inline-block; }

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0; }

.nav-search {
  width: 100%; }

.nav-menu .nav-link {
  padding: .5rem;
  color: black; }

/*--------- menu profile ------*/
html {
  font-size: 16px; }

.item-profile{
  padding: none;
}

.navbar .dropdown-menu {
  padding: 0px;
  width: 200px;
  margin-left: -90px;
box-shadow:1px 0px 5px rgba(0, 0, 0, 0.1);}

.navbar .item-profile-img {
  display: inline-block;
  vertical-align: top;
  width: 32px;
  height: 32px;
}

.navbar .item-profile-img img {
  width: 100%;
  border-radius:50%; }

.navbar .dropdown-menu  ul{
  list-style: none;
  padding:0px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
}
.navbar .dropdown-menu  div{
  padding: 0px 10px;
}
.navbar .dropdown-menu li{
  padding: 4px 20px;
  
}
.navbar .dropdown-menu a{
  text-decoration: none;
  color: #646464;
}

.navbar .dropdown-menu li:hover{
  background:#dcedc8;
}
.navbar .item-profile-info{
  background:#28a7469d;
  
box-shadow:1px 0px 5px #28a74667;}



.navbar .dropdown-menu li a span {
  padding-right: 10px; }

.navbar .dropdown-toggle::after {
  display: none; }


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

/* Small devices (landscape phones, 300px and up) */

@media (min-width: 576px) {
  .nav-header {
    min-width: 180px; }
  .nav-header .navbar-brand{
    display: inline-block;
  }
}