
    <div id="login"> 
      <form ngNativeValidate #formLogin="ngForm" class="form-signin text-center" (ngSubmit)="ingresar(formLogin)">
        <img class="mb-4 fas fa-box" src="" alt="" width="72" height="72" style="font-size: 5rem;">
        <label for="inputEmail" class="sr-only">Correo</label>
        <input [ngModel]="email" name="email" type="email" id="inputEmail" class="form-control" placeholder="Correo" autofocus="" required>
       
        <label for="inputPassword" class="sr-only">Contraseña</label>
        <input ngModel name="password" type="password" id="inputPassword" class="form-control" placeholder="Contraseña"  required>
        <div class="checkbox mb-3">
          <label>
            <input [(ngModel)]="recuerdame" name="recuerdame" type="checkbox" value="remember-me"> Recordar Datos
          </label>
        </div>
        <button class="btn btn-lg btn-dark btn-block" type="submit" data-dismiss="modal">Iniciar Sesión</button>
        <div> <a [routerLink]="['/registro']">Registrar</a> - <a >Olvide contraseña</a></div>
        </form>
    </div>
