   
    .row+.row{
        margin-top: 1rem;
    }
/*----------------------------     
   -------- CONTAINER -----------*/
   #container{
    height: 100vh;
    margin-left: 0px;
    padding: 10px 15px;
    transition: all 0.3s;
    }

.breadcrumb {
    padding: 0;
    background: #fff;
}
#title-breadcrumb{
    font-size: 1.4rem;
    color: #398bf7;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

/* Small devices (landscape phones, 300px and up) */

@media (min-width: 576px) {
    
   
}
@media (min-width: 768px){ 
    
    #container.active{
        margin-left: 210px;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
     
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}