/*----------------------------     
   -------- SIDEBAR ----------- */
#sidebar {
  color:#646464;
  background: #fafafa;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  position: fixed;
  text-align: left;
  width: 210px;
  margin-left:-220px;
  top: 0;
  bottom: 0;
  z-index: 20;
  padding-top: 60px;
  -webkit-box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s;
          transition: all 0.3s;}

#sidebar.active {
  margin-left:0px;
   }

#sidebar ul li a {
  
  padding: 7px 15px;
  color:#646464;
  display: block;
  font-size: 1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
  transition: all 0.3s; }

#sidebar ul li ul{
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
#sidebar ul li ul li a {
  font-weight: thin;
  padding-left: 45px;
  background: #eeeeee;
  font-size: 0.8rem; }

#sidebar ul li ul li a:hover{
  background:#dcedc8;
}

#sidebar ul li a .i {
  width: 25px;
  text-align: center;
  font-size: 1.1rem;
  display: inline-block; }

#sidebar ul li.active > a, #sidebar a[aria-expanded="true"] {
  color:#28a745;
  background: #f0f0f0; }


#sidebar a[aria-expanded="false"]::before{
  color:#646464;
  content: '\f0dd';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'fontawesome';
  font-size: 0.7em;
  padding-top: 2px; }

#sidebar a[aria-expanded="true"]::before {
  content: '\f0de'; 
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'fontawesome';
  font-size: 0.7em;
  padding-top: 8px;}

