<!-- ----------------------------------------------------------------------------     
------------------------------------- SIDEBAR  ------------------------------ --> 
<aside id="sidebar" class="bg-dark animated fadeInLeft">
    <ul class="list-unstyled components">
       <!-- ------------------- Item1 --------------- -->
        <li class="subMenu align-content-center">
          <a class="itemPrincipal " href="#profileSubmenu" data-toggle="collapse" aria-expanded="false">
              <div class="i"><i class="fas fa-user-circle"></i></div>
              Profile
          </a>
          <ul class="collapse list-unstyled" id="profileSubmenu">
              <li><a href="#">profile 1</a></li>
              <li><a href="#">profile 2</a></li>
              <li><a href="#">profile 3</a></li>
          </ul>
        </li>
        <li><hr style="margin: 0px"></li>
        
      <!-- ------------------- Item2 --------------- --> 
        <li class="active subMenu">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                <div class="i">
                    <i class="fas fa-home"></i>
                </div>
              Home
            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li><a href="#">Home 1</a></li>
                <li><a href="#">Home 2</a></li>
                <li><a href="#">Home 3</a></li>
            </ul>
        </li>
      <!-- ------------------- Item3 --------------- --> 
        <li class="subMenu">
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                <div class="i">
                    <i class="fas fa-file-alt"></i>
                </div>
                Pages
            </a>
          <ul class="collapse list-unstyled" id="pageSubmenu">
              <li><a href="#">Page 1</a></li>
              <li><a href="#">Page 2</a></li>
              <li><a href="#">Page 3</a></li>
          </ul>
        </li>
      <!-- ------------------- Item4 --------------- -->
        <li>
          <a href="#">
              <div class="i">
                  <i class="glyphicon glyphicon-link"></i>
              </div>
              Portfolio
          </a>
        </li>
      <!-- ------------------- Item5 --------------- -->
        <li>
            <a href="#">
                <div class="i">
                <i class="glyphicon glyphicon-paperclip"></i>
                </div>
                FAQQQ
          </a>
        </li>
      <!-- ------------------- Item6 --------------- -->
        <li>
            <a href="#">
            <div class="i">
                <i class="glyphicon glyphicon-send"></i>
            </div>
              Contact
          </a>
        </li>
    </ul>
</aside>
 
